<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pro_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StuServlet</display-name>
    <servlet-name>StuServlet</servlet-name>
    <servlet-class>cn.ouyang.web.servlet01.StuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuServlet</servlet-name>
    <url-pattern>/StuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stuservlet02</display-name>
    <servlet-name>Stuservlet02</servlet-name>
    <servlet-class>cn.ouyang.web.servlet01.Stuservlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stuservlet02</servlet-name>
    <url-pattern>/Stuservlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Baseservlet</display-name>
    <servlet-name>Baseservlet</servlet-name>
    <servlet-class>cn.ouyang.web.baseservlet.Baseservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Baseservlet</servlet-name>
    <url-pattern>/Baseservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stuservlet03</display-name>
    <servlet-name>Stuservlet03</servlet-name>
    <servlet-class>cn.ouyang.web.servlet01.Stuservlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stuservlet03</servlet-name>
    <url-pattern>/Stuservlet03</url-pattern>
  </servlet-mapping>
</web-app>